__pycache__
.idea/*
*.vscode/
._*
*.pyc
*.cpython*
.DS_store
*.lsf
# *.pkl
**/traces.hdf5
traces.hdf5
.Rproj.user
sequence_analysis/tmp/
sequence_analysis/raw_reads/
sequence_analysis/taxa/silva/
scripts/differential_abundance/_tmp/
